students {
    display: block;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 10px;
}

student {
    display: block;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

id, name, age, department, email {
    display: block;
    margin: 4px 0;
    color: #333;
}

name {
    font-weight: bold;
    font-size: 1.2em;
    color: #007BFF;
}
